on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    mkdir /system_root

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller ${ro.boot.usbcontroller}
